<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask Plotlyjs Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <a href="../" class="btn btn-primary btn-sm" role="button">Back to Home</a>
    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>Navy Womens Lacross 2019 Statistics</h1>
                <p>Use the interactive charts below to explore the dataset</p>
            </div>
        </div>
        <div class="row">
                
            <div class="col-md-12">
                
            </div>
            <div class="well">
                <img src="../static/img/1_attempts.png" width="550" height="400">
            </div>
            <div class="well">
                <img src="../static/img/2_Draw Controls.png" width="550" height="400">
            </div>
            <div class="well">
                <img src="../static/img/3_Failed_clears.png" width="550" height="400">
            </div>
            <div class="well">
                <img src="../static/img/4_Fouls.png" width="550" height="400">
            </div>
            <div class="well">
                <img src="../static/img/5_Free positions.png" width="550" height="400">
            </div>
            <div class="well">
                <img src="../static/img/6_Goals.png" width="550" height="400">
            </div>
            <div class="well">
                <img src="../static/img/7_Ground ball.png" width="550" height="400">
            </div>
            <div class="well">
                <img src="../static/img/8_Possessions.png" width="550" height="400">
            </div>
            <div class="well">
                <img src="../static/img/9_shots.png" width="550" height="400">
            </div>
            <div class="well">
                <img src="../static/img/10_Successful clears.png" width="550" height="400">
            </div>
            <div class="well">
                <img src="../static/img/11_Timeouts.png" width="550" height="400">
            </div>
            <div class="well">
                <img src="../static/img/12_Turnover.png" width="550" height="400">
            </div>
            <div class="col-md-5">
                <div id="pie"></div>
            </div>
            <div class="col-md-5">
                <div id="gauge"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="bubble"></div>
        </div>
    </div>

    <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</body>

</html>